 {{>navbar selected="publicite"}}
<container>
    <deux-colonnes>
        <div>
            <surtitre>Prestation commerciale</surtitre>
            <h1>
                <span>Publicité</span> <strong>&</strong>
                <span>reportage</span>
            </h1>
            <content>
                <p>Chez Nos Tribus Production, nous allions créativité
                    artistique et maîtrise technique pour offrir des solutions
                    de communication audiovisuelle sur mesure, spécialement
                    adaptées aux secteurs culturels et touristiques.</p>

                <p><strong>Nous sommes fiers d’avoir réuni des talents
                        professionnels et polyvalents, capables de s’investir
                        aussi bien dans des films documentaires ou de fiction
                        que dans des projets commerciaux tels que la publicité
                        ou le reportage.</strong></p>

                <p>Grâce à notre réseau de salariés et de prestataires de
                    confiance, nous maîtrisons chaque étape de la production, de
                    l’écriture au tournage, jusqu’à l’étalonnage final.</p>
                <div class="boutons">
                    <a class="bouton" href="contact.html">Contactez-nous</a>
                </div>
            </content>
        </div>
        <div>
            <figure>
                <img src="/images/bla.png" alt="Bla">
            </figure>
        </div>
    </deux-colonnes>
    <deux-colonnes>
        <div>

            <div class="video">
                <video autoplay controls>
                    <source
                        src="https://sopress.s3.eu-central-1.amazonaws.com/videos/Bande%20annonce.mp4"
                        type="video/mp4">
                    <source
                        src="https://sopress.s3.eu-central-1.amazonaws.com/videos/Bande%20annonce.webm"
                        type="video/webm">
                </video>
            </div>

            <ul class="partners">
                <li><a><img src="/images/logos/bliiida.jpeg"></a></li>
                <li><a><img src="/images/logos/canal-32.png"></a></li>
                <li><a><img src="/images/logos/eurometro.png"></a></li>
                <li><a><img src="/images/logos/frac.png"></a></li>
                <li><a><img src="/images/logos/ftl.png"></a></li>
                <li><a><img src="/images/logos/moselle-tv.png"></a></li>
                <li><a><img src="/images/logos/moselle.png"></a></li>
                <li><a><img src="/images/logos/prefet.png"></a></li>
                <li><a><img src="/images/logos/rge.png"></a></li>
                <li><a><img src="/images/logos/ville-de-metz.png"></a></li>
                <li><a><img src="/images/logos/vosges-tv.png"></a></li>
            </ul>

        </div>
        <div>
            <content>
                <p><strong>Nous abordons chaque projet avec une véritable
                        sensibilité artistique.</strong></p>

                <p>Pour chaque projet, un chargé de production dédié sera votre
                    interlocuteur principal tout au long du processus. Si des
                    contraintes imprévues devaient modifier le plan initial, nos
                    équipes, formées à la flexibilité du documentaire et
                    habituées à gérer le réel, sauront s’adapter. Toutefois, en
                    cas de changements importants, le chargé de production vous
                    en informera immédiatement afin d’ajuster ensemble le plan
                    initial.</p>

                <p><strong>Découvrez nos services dans notre brochure et
                        apprenez-en plus sur nos méthodes de travail et nos
                        réalisations.</strong></p>

                <a class="brochure" href><span
                        class="bouton">Téléchargement<br>brochure</span>
                    <img
                        src="/images/MAGAZINE-2025.jpg"></a>
            </content>
        </div>
    </deux-colonnes>
</container>
{{>site-footer}}
