<div class="affiches">
    <h3>Nos productions</h3>

    <p>Cliquez sur l'affiche pour plus d'informations.</p>
    <ul>
        <li>
            <a href="#">
                <img src="images/affiches/affiche-NT.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/affiches/soleil.jpg" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/affiches/carnet.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/affiches/araignee.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/affiches/des_quartiers_au_somme.jpg" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/affiches/IMG_3351.JPG" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/affiches/WIP-2.JPG" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/affiches/PARI.S_AFFICHE.jpg" />
            </a>
        </li>
    </ul>

</div>