<div class="affiches">
    <h3>Nos productions</h3>

    <p>Cliquez sur l'affiche pour plus d'informations.</p>
    <ul>
        <li>
            <button data-film-id="5">
                <img src="images/affiches/affiche-NT.png" />
            </button>
        </li>
        <li>
            <button data-film-id="6">
                <img src="images/affiches/soleil.jpg" />
            </button>
        </li>
        <li>
            <button data-film-id="5">
                <img src="images/affiches/carnet.png" />
            </button>
        </li>
        <li>
            <button data-film-id="5">
                <img src="images/affiches/araignee.png" />
            </button>
        </li>
        <li>
            <button data-film-id="5">
                <img src="images/affiches/des_quartiers_au_somme.jpg" />
            </button>
        </li>
        <li>
            <button data-film-id="5">
                <img src="images/affiches/IMG_3351.JPG" />
            </button>
        </li>
        <li>
            <button data-film-id="5">
                <img src="images/affiches/WIP-2.JPG" />
            </button>
        </li>
        <li>
            <button data-film-id="5">
                <img src="images/affiches/PARI.S_AFFICHE.jpg" />
            </button>
        </li>
    </ul>

    <dialog class="popin" data-film-id="5">
        <div>
            <figure>
                <img src="images/affiches/WIP-2.JPG" />
            </figure>
            <div>

                <strong>Fiche technique</strong>
                <h3>Paris, la quête du rêve olimpique</h3>
                <p>Réalisé par Julia Richardet Floriant Thonnon</p>
                <p>Produit par : Nos Tribus Production et Canal 32<br />
                    Durée : 52 minutes<br />
                    Diffusion : Télévision</p>

                <p>Sur une idée de l'Union Nationale des Sportifs de Haut Niveau
                    Avec le
                    soutien de la Région Grand Est du département de la Moselle
                    Et
                    d’InspireMetz</p>

                <div class="boutons">
                    <a class="bouton" href="#">Voir la bande annonce</a>
                </div>

            </div>
        </div>
    </dialog>

    <dialog class="popin" data-film-id="6">
        <div>
            <figure>
                <img src="images/affiches/des_quartiers_au_somme.jpg" />

            </figure>
            <div>

                <strong>Fiche technique</strong>
                <h3>Paris, la quête du rêve olimpique</h3>
                <p>Réalisé par Julia Richardet Floriant Thonnon</p>
                <p>Produit par : Nos Tribus Production et Canal 32<br />
                    Durée : 52 minutes<br />
                    Diffusion : Télévision</p>

                <p>Sur une idée de l'Union Nationale des Sportifs de Haut Niveau
                    Avec le
                    soutien de la Région Grand Est du département de la Moselle
                    Et
                    d’InspireMetz</p>

                <div class="boutons">
                    <a class="bouton" href="#">Voir la bande annonce</a>
                </div>

            </div>
        </div>
    </dialog>
</div>