:root {

    --block-background: var(--default-gradient);
    --block-background-blend: difference;
    --block-color: #edd3b0;

    --body-background: var(--background-light);
    --body-color: var(--color-for-background-light)
}