:root {

    --color-accent: var(--color-blue);
    --color-accent-alt: var(--color-rose);
    --block-background: var(--default-gradient);
    --block-background-blend: difference;
    --block-color: #edd3b0;

    --body-color: #736656
}