<div class="hero">
    <figure class="soleil"></figure>
    {{>navbar}}
    <div class="hero-content">
        <surtitre>Bienvenue</surtitre>
        <div class="titre">
            <header>
                <h1>Nos Tribus</h1>
                <h2>Production</h2>
            </header>
            <figure>
                <img src="/images/camera.png" alt="Camera">
            </figure>
        </div>
    </div>
</div>