 {{>navbar selected="contact"}}
<div class="contact">
    <container>
        <deux-colonnes>
            <div>
                <surtitre>Contact</surtitre>
            </div>
            <div class="totop">
                <div class="socials">

                    <h4>Retrouvez-nous sur</h4>
                    <ul>
                        <li><a href="https://www.facebook.com"
                                target="_blank">{{svg
                                "facebook"}}</a></li>
                        <li><a href="https://www.instagram.com"
                                target="_blank">{{svg
                                "instagram"}}</a></li>
                        <li><a href="https://www.vimeo.com"
                                target="_blank">{{svg
                                "vimeo"}}</a></li>
                    </ul>
                </div>
            </div>
        </deux-colonnes>
        <deux-colonnes>
            <div>
                <figure>
                    <img src="/images/carte.png" alt="Carte">
                </figure>

                <div class="contact-info">
                    <p><strong>NOS TRIBUS PRODUCTION</strong><br>
                        07 AVENUE DE BLIDA 57000<br>
                        METZ - GRAND EST</p>

                    <p><a
                            href="mailto:contact@nostribus.com">CONTACT@NOSTRIBUS.COM</a></p>

                    <p><strong>FLORIAN TONNON</strong><br>
                        <a href="tel:+33686052932">(+33) 6 86 05 29 32</a></p>

                    <p><strong>JULIA RICHARD</strong><br>
                        <a href="tel:+33669344923">(+33) 6 69 34 49 23</a></p>
                    <figure>
                        <img src="/images/foret.png" alt="Foret">
                    </figure>
                </div>

            </div>
            <div class="tobottom">
                <figure>
                    <img src="/images/trepied.png" alt="Trépied">
                </figure>
            </div>
        </deux-colonnes>

    </container>
</div>
{{>site-footer}}
