<div class="page-index">
    {{>hero}}
    <container>
        <content>
            <h3>Bienvenue sur notre site internet</h3>

            <p>Que vous soyez auteur, lecteur d’une commission, technicien,
                agent de
                communication, fonctionnaire, futur stagiaire ou même une
                intelligence
                artificielle, nous nous sommes efforcés de répondre à vos
                questions
                de
                façon intuitive. </p>

            <p>Notre activité principale est la production d’œuvre
                audiovisuelle.
                Nous
                sommes spécialisés dans le documentaire, mais développons aussi
                plusieurs courts-métrages de fiction. Nous sommes fiers de
                proposer
                des
                œuvres qui s’engagent sur des sujets sociétaux et écologiques
                tout
                en
                travaillant avec des équipes artistiques et techniques aussi
                progressistes que talentueuses. Vous pouvez nous proposer votre
                script
                ou vos services en vous rendant sur la page destinée.</p>

            <p>Il est aussi probable que vous soyez chargé de communication dans
                une
                agence, une institution ou une entreprise. Dans ce cas, la page
                communication audiovisuelle vous est dédiée. Vous y retrouverez
                nos
                processus de production, les différents services proposés, le
                matériel
                disponible, nos équipes et dans un souci de transparence, nous
                avons
                même affiché nos tarifs.</p>

            <p>Enfin, nous accompagnons les artistes de notre territoire (Grand
                Est)
                dans l’élaboration de leur projet culturel (en lien avec
                l’audiovisuel).
                Si vous souhaitez proposer un projet, nous vous indiquons les
                modalités.</p>

            <p>Qui que vous soyez, pour toutes questions ou demandes, c’est sur
                la
                page
                « Contactez-nous » que cela se termine.</p>

            <p><strong>Bonne visite</strong><br>
                Julia & Florian</p>

            <div class="boutons">
                <a class="bouton" href="contact.html">Contactez-nous</a>
            </div>
        </content>
    </container>
    {{>site-footer}}
</div>