@font-face {
    font-family: 'abrilfatface-regular';
    src: url('/fonts/abrilfatface-regular.woff2') format('woff2'),
        url('/fonts/abrilfatface-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}