<footer class="site-footer">
    <p><strong>Nos Tribus production - sas</strong> / siret : 91962016100019 /
        capital social : 1000€ /
        président directeur général : florian tonnon /
        <a href="mailto:contact@nostribus.com">contact@nostribus.com</a>
    </p>

    <p><strong>les images, illustrations, logo, et agencements des couleurs
            :</strong>
        sont la propriété exclusive de nos tribus production.
    </p>

    <p>Il est interdit de reproduire, copier ou utiliser les éléments sans
        autorisation préalable.</p>

    <p>Ce site est soumis à la loi française.</p>

    <p><a href="#">Conditions générales de vente</a> - <a
            href>Téléchargement</a></p>
</footer>
