.deux-colonnes {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    >* {
        position: relative;
    }

    &>*:last-child {
        display: flex;
        justify-content: center;

        figure {
            display: block;
            text-align: center;

            @include medium {
                margin-top: 10vh;
            }


            img {
                max-height: 50vh;
                display: inline-block;
            }
        }
    }

    @include medium {
        display: grid;
        grid-template-columns: 2fr 300px;
    }

    .tobottom {
        display: flex;
        align-items: flex-end;
    }
}

.deux-colonnes+.deux-colonnes {
    margin-top: var(--gap);
}