<div class="intro">

    <div>
        <div class="boutons">
            <a class="bouton" href="/">Passer la vidéo</a>
        </div>
    </div>
    <div class="video">

        {{svg 'play'}}
        <video>
            <source
                src="https://sopress.s3.eu-central-1.amazonaws.com/videos/Bande%20annonce.mp4"
                type="video/mp4">
            <source
                src="https://sopress.s3.eu-central-1.amazonaws.com/videos/Bande%20annonce.webm"
                type="video/webm">
        </video>
    </div>
    <div></div>
</div>