body:has(.intro) {
    background-color: white;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100vw;
    height: 100vh;

    position: fixed;


    &:after {

        width: 64px;
        height: 64px;
        position: fixed;
        content: '';
        background: url(/images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom left;
        left: var(--gap);
        bottom: var(--gap);
    }

    >* {
        margin-inline: var(--gap);
    }

    >div:not(.video) {
        height: 10vh;
    }

    .video {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0;
        position: relative;

        svg {
            cursor: pointer;
            width: 64px;
            height: 64px;
            position: absolute;
        }

        >video {}

        @include small {
            margin-inline: var(--gap);

            video {
                max-height: 60vh;

            }
        }
    }
}