 {{>navbar selected="production-de-films"}}
<container>
    <deux-colonnes>
        <div>
            <surtitre>Production de films</surtitre>
            <h1>
                <span>Documentaire</span> <strong>&</strong>
                <span>fiction</span>
            </h1>
            <content>
                <p>Nous nous sommes lancés dans la production pour réaliser nos
                    propres films et puis finalement, nous avons pris autant de
                    plaisir à travailler sur les projets d’auteurs qui ont
                    chacun leur propre vision du monde, leur propre
                    pratique.</p>

                <p>Nos productions sont donc éclectiques, mais se rassemblent
                    par le désir de parler à Nos Tribus. Celles qui craignent la
                    montée des nationalismes ou angoissent devant la destruction
                    de la planète, mais surtout, ces tribus qui continuent de
                    manifester leur désir de démocratie et d'humanisme.</p>

                <p>À ce titre, nous sommes fiers d’être membres de la Fédération
                    des Jeunes Producteurs Indépendants.</p>

            </content>
        </div>
        <div>
            <figure>
                <img src="/images/tournage.png" alt="Tournage">
            </figure>
        </div>
    </deux-colonnes>
    <deux-colonnes>
        <div>

            {{>affiches}}
        </div>
        <div>
            <content>
                <h3 class="content-titre">Pour nous proposer votre projet</h3>
                <p>
                    Nous lisons les dossiers que vous nous envoyez, seulement,
                    nous
                    en recevons plus que nous ne l'imaginions.
                    Afin de gagner en efficacité, nous avons édité quelques
                    critères
                    de présélection :
                </p>

                <h4>Obligatoires</h4>
                <ul>
                    <li>Pas de film déjà tourné</li>
                    <li>Pas de long métrage ou série de fiction</li>
                    <li>Joindre un dossier PDF, comprenant au minimum un résumé
                        et
                        une première version du scénario/traitement.</li>
                </ul>

                <h4>Appréciés</h4>
                <ul>
                    <li>Film tourné en région Grand Est</li>
                    <li>Auteur.ice issu.e de la région Grand Est</li>
                    <li>Film (documentaire ou fiction) ayant un engagement dans
                        une
                        cause sociale, politique, écologique.</li>
                </ul>

                <p>
                    Aussi, nous insistons sur le fait que produire un film prend
                    du
                    temps, il peut s’écouler plusieurs années avant le début du
                    tournage.
                </p>

                <p class="contact">
                    Pour nous envoyer votre dossier :<br>
                    <a
                        href="mailto:contact@nostribus.com">contact@nostribus.com</a><br>
                    Objet : Proposition de film
                </p>
            </content>
        </div>
    </deux-colonnes>
</container>
{{>site-footer}}
