 {{>navbar selected="projet"}}
<container>
    <deux-colonnes>
        <div>
            <surtitre><span>Projet</span> culturel</surtitre>
            <h1>
                <span><span>Projet</span> culturel</span> <strong>&</strong>
                <span>Territoire</span>
            </h1>
            <content>
                <p>Nos Tribus Production collabore étroitement avec les acteurs
                    locaux pour mener des projets artistiques et culturels de
                    territoire. Ces initiatives visent à renforcer le lien
                    social à travers des actions participatives et créatives, en
                    impliquant les habitants, les artistes et les institutions.
                    Voici quelques-uns de nos projets récents :</p>
            </content>
        </div>
        <div class="tobottom">
            <figure>
                <img style="width:clamp(100px,100vw,80%)"
                    src="/images/projet.png" alt="Projet">
            </figure>
        </div>
    </deux-colonnes>
    <div class="projets">
        <article>
            <strong>BORNY TO BE ALIVE (2023)</strong>
            <figure>
                <img src="/images/projet-2.jpg">
            </figure>
            <header>

                <p>L’été 2023 est marqué par la révolte populaire en
                    réponse
                    à
                    l’assassinat de Nahel Merzouk. À Borny, c’est
                    l’espace
                    de
                    vie
                    névralgique du quartier qui a été touché : la
                    médiathèque
                    Jean
                    Macé a brûlé. Une fois les larmes essuyées, des
                    solutions
                    pleines de malices ont été mises en place comme le
                    déménagement
                    de la médiathèque au centre Bon Pasteur et la mise
                    en
                    place
                    d’actions artistiques et culturelles gratuites.
                    Borny to
                    be
                    Alive est un making-of tourné par des jeunes de
                    Borny
                    dans
                    lequel le quartier est questionné à travers
                    différents
                    ateliers
                    artistiques au centre Bon Pasteur.</p>

                <small>Feat. Aymeric Swiatoka-Navais & Les Courtisans /
                    Grâce à
                    la
                    DRAC Grand Est et Julie FONTAINE / Avec : Julie
                    Fontaine, le
                    réseau bibliothèque-médiathèque de la ville de Metz,
                    Thomy-Thomas, Le Spationef et Hérodiatem et Céline
                    Claire.</small>
            </header>
        </article>
        <article>
            <strong>GAROUE-GAROU À BORNY (2024)</strong>
            <figure>
                <img src="/images/projet-3.jpg">
            </figure>
            <header>

                <p>Garoue-Garou est un collectif éphémère qui met en
                    commun
                    des
                    propositions graphiques et sonores. Il réunit des
                    artistes, des
                    amateurs locaux et reste ouvert à toute personne
                    intéressée de
                    France ou d’ailleurs. Les œuvres collectées seront
                    alors
                    collées
                    dans les rues afin de créer un parcours. Une
                    déambulation dans
                    un musée à ciel ouvert mène le projet. Plus de cent
                    œuvres ont
                    été collées à Borny, des dizaines de bénévoles, des
                    milliers de
                    spectateurs et six litres de pinard ont participé à
                    ce
                    Garoue-Garou made in Borny.</p>

                <small>Feat. Aymeric Swiatoka-Navais, Géraldine Bitschy
                    et
                    Emilie
                    Bonno / Grâce à la DRAC Grand Est Avec : Julie
                    Fontaine,
                    Paulina
                    Legoupil, le réseau bibliothèque-médiathèque de la
                    ville
                    de
                    Metz, BAO, le Centre Petit Bois et CASSIS, Borny
                    Buzz,
                    Lo Bam,
                    les écoles de Borny, les ballleurs EMH et Vivest,
                    tous
                    les
                    habitants du quartier.</small>
            </header>
        </article>
        <article>
            <strong>LYCÉE DE FUTUR (2024)</strong>
            <figure>
                <img src="/images/projet-4.jpg">
            </figure>
            <header>
                <p>À quoi doit ressembler le lycée de demain ? C’est la
                    question posée par la Région Grand Est à une dizaine
                    de classes de lycéens de la région. Avec la classe
                    de terminale HLP du lycée Jeanne d’Arc, nous sommes
                    portés par l’adage d’Ovide (à ne pas confondre avec
                    Ovidie) : “Nous louons les anciens, mais nous sommes
                    de notre temps.”. Il nous sert de fondement à la
                    création d’un ouvrage qui associe textes poétiques
                    et photos argentiques, qui mettent en lumière le
                    sensible et l’intime d’un lycée, par des élèves qui
                    vont bientôt le quitter.</p>

                <small>Feat. Aymeric Swiatoka-Navais et Loïc Lusnia
                    Grâce à la Région Grand Est Avec : le lycée Jeanne
                    d’Arc (Nancy) et la classe de terminale HLP de
                    Stéphanie Revolon.</small>

            </header>
        </article>
        <article>
            <strong>DIAGNOSTIQUE SENSIBLE DE TERRITOIRE, SAULNOIS
                (2024)</strong>
            <figure>
                <img src="/images/projet-1.jpg">
            </figure>
            <header><p>Pendant 4 semaines Gautier et Aymeric maraudent,
                    rencontrent, boivent des coups Chez Roger afin
                    d’interroger le canton d’Albestroff sur son envie
                    culturelle tout en créant une œuvre audiovisuelle
                    unique et sur mesure. Ceci n’est pas un kamoulox,
                    mais un joli projet de territoire !</p>

                <small>Feat. Aymeric Swiatoka-Navais et Gautier Colin
                    Grâce à la DRAC Grand Est et la Communauté de
                    Communes du Saulnois Avec : Tous les habitants du
                    Canton.</small>

            </header>
        </article>
        <article>
            <strong>vues D’ICI (2023)</strong>
            <figure>
                <img src="/images/projet-5.jpg">
            </figure>
            <header>
                <p>VUES D’ICI vise à créer et diffuser un corpus
                    documentaire sur la jeunesse des quartiers
                    populaires en 2022 à Thionville et Uckange. Le
                    projet VUES D’ICI est soutenu par DRAC Grand-Est
                    et la ville de Thionville.</p>

                <p>Réunissant l’association APSIS - Emergence, le
                    Centre social et culturel le Creuset, le Centre
                    le Lierre et la collaboration des artistes
                    Yacine Helali, Victoria Kieffer et Julia Richard
                    et Florian Tonon de la société de production Nos
                    Tribus.</p>

            </header>
        </article>
    </div>
</container>
{{>site-footer}}
