.container {
    --_background-bouton: var(--color-accent);
    position: relative;
    color: var(--color-dark);
    display: flex;
    justify-content: center;

    &:after {
        z-index: 1;
        content: '';
        position: absolute;
        inset: 0;
        @include noise-background-beige();
        opacity: 0.8;
    }


    >div {
        position: relative;
        z-index: 2;
        min-height: 100vh;
        max-width: var(--site-width);
        margin: 0 auto;
        padding: var(--gap);
    }

}